@{
    ViewBag.Title = "About LoR";
}
<div class="jumbotron py-1 mt-2">
    <h2 class="text-center">Lord of the Rings</h2>
</div>

<p>David be like...</p>
<p class="text-center">
    <img class="p-2 border" src="/Images/LOR.jpg" alt="Everybody gets LoR Cards" />
</p>